$accentColor = #ff4757
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
// 代码库重置
.content pre{ margin: 0!important;}


h1 {
   // color: #000000
}

h2 {
    font-size: 2rem
    color: #5352ed
}

h3 {
    font-size: 1.2rem
    margin-top: 0px
    padding-top: 10px
    padding-bottom: 0px
}

h4 {
    color: #6196CC
    font-size: 14px
    margin-top: 0px
    padding-top: 10px
    padding-bottom: 10px
}

blockquote {
    padding: 0.5rem 1.5rem
    border-left-width: 0.5rem
    border-left-style: solid
    margin: 1rem 0rem
    background-color: #f3f5f7
    border-color: #42b983
    color: black
}

blockquote p {
    margin-top: 4px
    margin-bottom: 4px
    margin-left: 0px
    margin-right: 0px
}

